/* Feel free to style me! */

html{
	
}

body{
	  background-color: lightblue
}

h1{
	font-size: 80px;
	text-align: center;
}

h2 {
	font-size: 40px;
	text-align: center
}
p{
		font-size: 20px;
}

ul{
	
}

li{
	font-size: 30px;
	font-style: italic;
}